<!--
代码为自动生成 Created by www.magicalcoder.com
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:323237052
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v102/include/head :: commonHead('order_info编辑')"/>

<body class="childrenBody layui-hide">
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">

            </div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item security_edit_form_param_id">
                        <label class="layui-form-label">订单id</label>
                        <div class="layui-input-block">
                            <input type="text" disabled="true" class="layui-input" name="id"  placeholder="主键自动生成，无需手动编辑,如果重置则变成增加数据"/>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_userId">
                        <label class="layui-form-label">客户id</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="userId" placeholder="请输入客户id" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_orderAmount">
                        <label class="layui-form-label">订单金额</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="orderAmount" placeholder="请输入订单金额" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_isPromotion">
                        <label class="layui-form-label">是否参加活动</label>
                        <div class="layui-input-block">
                        <input type="checkbox" name="isPromotion" lay-skin="switch" lay-text="" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_discount">
                        <label class="layui-form-label">折扣</label>
                        <div class="layui-input-block">
                        <select name="discount" class="layui-input" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  placeholder="折扣">
                        </select>
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_referer">
                        <label class="layui-form-label">推荐人id</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="referer" placeholder="请输入推荐人id" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_isPay">
                        <label class="layui-form-label">是否支付</label>
                        <div class="layui-input-block">
                        <input type="checkbox" name="isPay" lay-skin="switch" lay-text="" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_payTime">
                        <label class="layui-form-label">支付时间</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="payTime" placeholder="请输入支付时间" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="0000-00-00 00:00:00" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_haveGift">
                        <label class="layui-form-label">是否有礼物</label>
                        <div class="layui-input-block">
                        <input type="checkbox" name="haveGift" lay-skin="switch" lay-text="" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_giftDetail">
                        <label class="layui-form-label">礼物详情</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="giftDetail" placeholder="请输入礼物详情" lay-verify="magicalCoderVerify" magicalcoder-verify="" value="" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_createTime">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="createTime" placeholder="请输入创建时间" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="0000-00-00 00:00:00" />
                        </div>
                    </div>
                    <div class="layui-form-item security_edit_form_param_updateTime">
                        <label class="layui-form-label">修改时间</label>
                        <div class="layui-input-block">
                        <input type="text" class="layui-input" name="updateTime" placeholder="请输入修改时间" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify="" value="0000-00-00 00:00:00" />
                        </div>
                    </div>
                    <!--把下面的按钮移动到form外面 键盘回车事件就取消了 -->
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <button class="layui-btn security_edit_form_operate_save" lay-submit="" lay-filter="save">立即提交</button>
                            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="magicalcoder/v102/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/orderinfo/orderinfo-edit.js}"></script>
</body>
</html>
